{% extends "mail/base.html" %}

{% block title %}
  Mail templates
{% endblock title %}

{% block sub_heading %}
  Mail templates
{% endblock sub_heading %}

{% block content %}
  {% include 'base/_back_to_settings.html' %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Description</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            {% for e in object_list %}
              <tr valign="top">
                <td>
                  {% if e.is_mandrill %}
                    <strong>{{ e.title }}</strong>
                  {% else %}
                  <a href="{% url 'mail.template.update' e.slug %}">
                    <i class="fa fa-edit"></i>
                    {{ e.title }}
                  </a>
                  {% endif %}
                  <br />
                  <small>{{ e.slug }}</small>
                </td>
                <td>
                  {% if e.is_mandrill %}
                    <a
                      target="_blank"
                      href="https://mandrillapp.com/templates/">
                      Mandrill template
                      <small>({{ e.slug }})</small>
                      <i class="fa fa-external-link"></i>
                    </a>
                    {% if e.help_text %}
                      <br />
                      <small>
                      {{ e.help_text|linebreaksbr }}
                      </small>
                    {% endif %}
                  {% else %}
                    {% if e.subject %}
                      <strong>{{ e.subject }}</strong>
                    {% endif %}
                    {% if e.subject and e.description %}
                      <br />
                    {% endif %}
                    {% if e.description %}
                      {{ e.description|urlize|linebreaksbr }}
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
