{% extends "mail/base.html" %}

{% block title %}
  Mail messages
{% endblock title %}

{% block sub_heading %}
  Mail messages
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Created</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            {% for e in object_list %}
              <tr valign="top">
                <td>
                  {{ e.pk }}
                </td>
                <td>
                  {{ e.created|date:"D jS M Y, H:ia" }}
                  {% for m in e.mail_set.all %}
                    <br />
                    <small>
                      {{ m.email }}
                      {% if m.sent %}
                        {{ m.sent|date:"d/m/Y H:i" }}
                      {% else %}
                        (pending)
                      {% endif %}
                    </small>
                  {% endfor %}
                </td>
                <td>
                  <strong>{{ e.subject }}</strong>
                  <br />
                  {% autoescape off %}
                    {{ e.description|urlize|linebreaksbr }}
                  {% endautoescape off %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
