{% extends "mail/base.html" %}

{% block title %}
  Enquiries
{% endblock title %}

{% block sub_heading %}
  Enquiries
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_settings.html' %}
          <li class="pure-menu-item">
            <a href="{% url 'example.enquiry.create' %}" class="pure-menu-link">
              <i class="fa fa-comments-o"></i>
              Create Enquiry
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>Created</th>
            <th>Email address</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          {% for e in object_list %}
            <tr valign="top">
              <td>
                {{ e.created|date:'D jS M Y, H:i' }}
              </td>
              <td>
                {{ e.email }}
              </td>
              <td>
                <strong>{{ e.subject }}</strong>
                <br />
                {{ e.description|urlize|linebreaksbr }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
