{% extends "mail/base.html" %}
{% load staticfiles %}

{% block sub_title %}
  Example Settings
{% endblock sub_title %}

{% block sub_heading %}
  Example Settings
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url 'mail.message.list' %}">
              <i class="fa fa-envelope-o"></i>
              Messages
            </a>
          </li>
          <li>
            <a href="{% url 'mail.template.list' %}">
              <i class="fa fa-envelope"></i>
              Templates
            </a>
          </li>
          <li>
            <a href="{% url 'example.enquiry.list' %}">
              <i class="fa fa-comments-o"></i>
              Enquiries
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
